---
import FlipCard from '../react/FlipCard.tsx';

const lenguajes = [
	{ nombre: 'C#', icono: 'cs' },
	{ nombre: 'TypeScript', icono: 'ts' },
	{ nombre: 'JavaScript', icono: 'js' },
	{ nombre: 'Python', icono: 'py' },
	{ nombre: 'Rust', icono: 'rust' },
	{ nombre: 'Java', icono: 'java' },
];
---
<div class="grid grid-cols-3 gap-3">
	{
		lenguajes.map((lang) => (
			<FlipCard
				client:visible
				iconSrc={`https://skillicons.dev/icons?i=${lang.icono}`}
				alt={lang.nombre}
				label={lang.nombre}
			/>
		))
	}
</div>
